<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= author.date_of_birth %>
  </p>

  <p>
    <strong>Country of origin:</strong>
    <%= author.country_of_origin %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= author.short_description %>
  </p>

</div>
