<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= book.summary %>
  </p>

  <p>
    <strong>Date of publication:</strong>
    <%= book.date_of_publication %>
  </p>

  <p>
    <strong>Number of sales:</strong>
    <%= book.number_of_sales %>
  </p>

</div>
