<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :summary, style: "display: block" %>
    <%= form.text_area :summary %>
  </div>

  <div>
    <%= form.label :date_of_publication, style: "display: block" %>
    <%= form.date_field :date_of_publication %>
  </div>

  <div>
    <%= form.label :number_of_sales, style: "display: block" %>
    <%= form.number_field :number_of_sales %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
