<div id="<%= dom_id review %>">
  <p>
    <strong>Book:</strong>
    <%= review.book_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= review.score %>
  </p>

  <p>
    <strong>Number of upvotes:</strong>
    <%= review.number_of_upvotes %>
  </p>

</div>
