<!-- app/views/sales/index.html.erb -->

<h1>Top 50 selling books of all time!</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date of Publication</th>
      <th>Total Sales for Book</th>
      <th>Total Sales for Author</th>
      <th>Top 5 Selling Book in Year of Publication</th>
    </tr>
  </thead>
  <tbody>
    <% @sales_data.each do |book, total_sales, author_total_sales, is_top_5_year| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.date_of_publication %></td>
        <td><%= total_sales %></td>
        <td><%= author_total_sales %></td>
        <td><%= is_top_5_year ? "Yes" : "No" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
